<HTML>
<CENTER>
<h1><img src="images/flames.gif" height=50 valign=center>
&nbsp; &nbsp; Foosball &nbsp;<img src="images/crown.jpg" valign=center> &nbsp; Tournament &nbsp; &nbsp;
<img src="images/flames.gif" height=50 valign=top></h1>
Current as of Tue Apr 23 14:58:39 2002<br><br>
Last game entered: <b>Rob</b> and <b>TomH</b> VS.<b>John</b> and <b>Craig</b> - Score: 8-4<br><br>
<TABLE border=1 bordercolor=#000000 cellpadding=5 cellspacing=0 bgcolor=#000000 align=center>
<TR>
<TD width=30 align=center><font color=#FFFFFF><b>RANK</TD>
<TD width=100 align=center><font color=#FFFFFF><b>NAME</TD>
<TD width=30 align=center><font color=#FFFFFF><b>GAMES</TD>
<TD width=30 align=center><font color=#FFFFFF><b>WINS</TD>
<TD width=30 align=center><font color=#FFFFFF><b>LOSSES</TD>
<TD width=30 align=center><font color=#FFFFFF><b>RANKING SCORE</TD>
<TD width=30 align=center><font color=#FFFFFF bgcolor=#FFCCCC><b>STREAK</TD>
</TR>
<TR><TD BGCOLOR=#770088 align=center><font color=white><b>1</b></TD><TD BGCOLOR=#CCDDEE align=left>Seb</TD><TD BGCOLOR=#CCDDEE align=center>29</TD><TD BGCOLOR=#CCDDEE align=center>19</TD><TD BGCOLOR=#CCDDEE align=center>10</TD><TD BGCOLOR=#CCDDEE align=center>84</TD></TD><TD BGCOLOR=#CCDDEE align=center>&nbsp;</TD></TR>
<TR><TD BGCOLOR=#770088 align=center><font color=white><b>2</b></TD><TD BGCOLOR=#FFFFFF align=left>Kevin</TD><TD BGCOLOR=#FFFFFF align=center>40</TD><TD BGCOLOR=#FFFFFF align=center>24</TD><TD BGCOLOR=#FFFFFF align=center>16</TD><TD BGCOLOR=#FFFFFF align=center>83</TD></TD><TD BGCOLOR=#FFFFFF align=center>&nbsp;</TD></TR>
<TR><TD BGCOLOR=#770088 align=center><font color=white><b>3</b></TD><TD BGCOLOR=#CCDDEE align=left>TomH</TD><TD BGCOLOR=#CCDDEE align=center>23</TD><TD BGCOLOR=#CCDDEE align=center>15</TD><TD BGCOLOR=#CCDDEE align=center>8</TD><TD BGCOLOR=#CCDDEE align=center>82</TD></TD><TD BGCOLOR=#CCFFCC align=center>+2</TD></TR>
<TR><TD BGCOLOR=#770088 align=center><font color=white><b>4</b></TD><TD BGCOLOR=#FFFFFF align=left>John</TD><TD BGCOLOR=#FFFFFF align=center>38</TD><TD BGCOLOR=#FFFFFF align=center>22</TD><TD BGCOLOR=#FFFFFF align=center>16</TD><TD BGCOLOR=#FFFFFF align=center>81</TD></TD><TD BGCOLOR=#FFCCCC align=center>-2</TD></TR>
<TR><TD BGCOLOR=#770088 align=center><font color=white><b>5</b></TD><TD BGCOLOR=#CCDDEE align=left>Carlos</TD><TD BGCOLOR=#CCDDEE align=center>30</TD><TD BGCOLOR=#CCDDEE align=center>16</TD><TD BGCOLOR=#CCDDEE align=center>14</TD><TD BGCOLOR=#CCDDEE align=center>77</TD></TD><TD BGCOLOR=#CCDDEE align=center>&nbsp;</TD></TR>
<TR><TD BGCOLOR=#770088 align=center><font color=white><b>6</b></TD><TD BGCOLOR=#FFFFFF align=left>Rob</TD><TD BGCOLOR=#FFFFFF align=center>19</TD><TD BGCOLOR=#FFFFFF align=center>10</TD><TD BGCOLOR=#FFFFFF align=center>9</TD><TD BGCOLOR=#FFFFFF align=center>76</TD></TD><TD BGCOLOR=#CCFFCC align=center>+2</TD></TR>
<TR><TD BGCOLOR=#CCDDEE align=center>&nbsp;</TD><TD BGCOLOR=#CCDDEE align=left>James</TD><TD BGCOLOR=#CCDDEE align=center>21</TD><TD BGCOLOR=#CCDDEE align=center>11</TD><TD BGCOLOR=#CCDDEE align=center>10</TD><TD BGCOLOR=#CCDDEE align=center>76</TD></TD><TD BGCOLOR=#CCDDEE align=center>&nbsp;</TD></TR>
<TR><TD BGCOLOR=#770088 align=center><font color=white><b>7</b></TD><TD BGCOLOR=#FFFFFF align=left>Brian</TD><TD BGCOLOR=#FFFFFF align=center>12</TD><TD BGCOLOR=#FFFFFF align=center>6</TD><TD BGCOLOR=#FFFFFF align=center>6</TD><TD BGCOLOR=#FFFFFF align=center>75</TD></TD><TD BGCOLOR=#FFFFFF align=center>&nbsp;</TD></TR>
<TR><TD BGCOLOR=#770088 align=center><font color=white><b>8</b></TD><TD BGCOLOR=#CCDDEE align=left>Anthony</TD><TD BGCOLOR=#CCDDEE align=center>20</TD><TD BGCOLOR=#CCDDEE align=center>7</TD><TD BGCOLOR=#CCDDEE align=center>13</TD><TD BGCOLOR=#CCDDEE align=center>69</TD></TD><TD BGCOLOR=#CCDDEE align=center>&nbsp;</TD></TR>
<TR><TD BGCOLOR=#FFFFFF align=center>&nbsp;</TD><TD BGCOLOR=#FFFFFF align=left>Jason</TD><TD BGCOLOR=#FFFFFF align=center>16</TD><TD BGCOLOR=#FFFFFF align=center>5</TD><TD BGCOLOR=#FFFFFF align=center>11</TD><TD BGCOLOR=#FFFFFF align=center>69</TD></TD><TD BGCOLOR=#FFFFFF align=center>&nbsp;</TD></TR>
<TR><TD BGCOLOR=#770088 align=center><font color=white><b>9</b></TD><TD BGCOLOR=#CCDDEE align=left>Craig</TD><TD BGCOLOR=#CCDDEE align=center>29</TD><TD BGCOLOR=#CCDDEE align=center>9</TD><TD BGCOLOR=#CCDDEE align=center>20</TD><TD BGCOLOR=#CCDDEE align=center>64</TD></TD><TD BGCOLOR=#FFCCCC align=center>-4</TD></TR>
<TR><TD BGCOLOR=#FFFFFF align=center>&nbsp;</TD><TD BGCOLOR=#FFFFFF align=left>Ed</TD><TD BGCOLOR=#FFFFFF align=center>23</TD><TD BGCOLOR=#FFFFFF align=center>6</TD><TD BGCOLOR=#FFFFFF align=center>17</TD><TD BGCOLOR=#FFFFFF align=center>64</TD></TD><TD BGCOLOR=#FFFFFF align=center>&nbsp;</TD></TR>
<TR rowspan=2><TD bgcolor=#FFFFFF colspan=7 align=right>*Note: In the case of a tie, the order is sorted by winning percentages.</td></tr>
</TABLE><br><a href="http://192.168.0.30/">Return to Matador</a><br><br><img src="/images/foosball.jpg"></CENTER>
</HTML>